/* roboto-regular - latin */
@font-face {
    font-family: 'MyriadPro';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/MYRIADPRO-REGULAR.OTF'); /* IE9 Compat Modes */
}
body{
    font-family: 'myriad-pro-bold', sans-serif
}
.txtInter{
    font-family: 'Inter';
}
.textBlack{
    color: black;
}
.textGray{
    color: #000;
    opacity: 0.6;
}
.fwMediam{
    font-size: 21px;
}
.borderYellow{
    border-bottom: 1px solid #d3c832;
    font-family: 'MyriadPro';
}
.bgGray{
    background-color:#f0f0f0;
}
.txtSmall{
    font-size: 14px;
}
.text18{
    font-size: 18px;
}
.txtRed{
    color: #f48673;
}
.table-responsive thead th{
    border-color: #fff !important;
}
.table-responsive tbody td{
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #5a5656;
}
/* ===================================== Menu =================== */
/* .modalMenu .modal-dialog{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0rem auto;
}
.modalMenu .modal-content{
    height: 100vh;
} */
.linkHover:hover{
    color: black;
    background-color: #d3c832;
}
.activeStudios{
    color: black;
    background-color: #d3c832;
}
/* ================================================= */
.imgFirst{
    width: 100%;
    object-fit: cover;
}
.firstSection{
    background: url(../images/backgroundwhite.png) repeat;
}
.textAbsolute{
    position: absolute;
    top: 20px;
    left: 40px;
}
.absoluteLarge{
    position: absolute;
    background: url(../images/vertical.png) repeat;
    height: 400px;
    width: 5rem;
    left: -2rem;
}
.bgImage{
    background: url(../images/plus.png) repeat;
    height: 150px;
    padding: 0rem 4rem;
    position: absolute;
    right: 0;
}
.prominentSection{
    margin-top: -7rem;
}
.content {
    position: relative;
}
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 480px;
    object-fit: cover;
    transition: .5s ease;
    backface-visibility: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(36, 41, 44,0.8);
}
  
.content:hover .overlay {
    opacity: 1;
}
  
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    text-transform: uppercase;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
/* ========================== TDF Studios ================== */
.bgYellow{
    background-color: #f9ed30;
}
.bgYellow p{
    color: black;
    opacity: 0.6;
}
/* ========================== page studios ================== */
.sectionStudios{
    margin-top: -7rem;
}
.imgStudios{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.imgSpaces{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.btnBlack{
    background-color: black;
    height: 50px;
    color: white;
}
.btnBlack:hover{
    background-color: white;
    border: 1px solid black;
    color: black;
}
.bgWhitePlus{
    background: url(../images/backgroundwhite.png) repeat;
}
.width75{
    width: 75%;
}
/* ========================== Footer ======================== */
.bgBlack{
    background-color: black;
}
footer h1{
    font-size: 41px;
    font-weight: 600;
}
.btnSend{
    border: solid 1px #000;
    background-color: #fff;
    height: 54px;
    font-family: 'myriad-pro-bold', sans-serif;
    font-weight: bold;
    font-size: 16px;
}
.btnSend:hover{
    background-color: black;
    color: white;
    border:1px solid #fff;
}
.menuFooter h1 sup{
    font-size: 14px;
    padding-left: 0.2rem;
    top: -2rem;
}
.menuFooter h6{
    font-family: 'Inter', sans-serif;
}
.menuFooter p ,.menuFooter p a{
    color: #c5c5c5;
}
.borderBottom{
    border-bottom: 1px solid #979797;
}
.textLg{
    font-size: 50px;
    font-family: 'myriad-pro-bold', sans-serif;
}
/* ================================== Works ====================== */
.sectionStudios .nav-pills{
    border-bottom: 1px solid gray;
}
.sectionStudios .nav-item .nav-link{
    color: black;
}
.sectionStudios .nav-item .nav-link.active{
    background: none;
    color: black;
    font-weight: bold;
    border-bottom: 2px solid black;
    border-radius: 0;
}
.imgFullWidth{
    width: 100%;
    object-fit: cover;
    height: 500px;
}
/* ================================== Contact Us ================== */
.contact{
    background: url(../images/background.png) repeat;
}
.sup{
    font-size: 14px;
    top: -.8rem;
}
.sectionText{
    margin-top: -4rem;
}
.formContact .form-control{
    border-top: 0px;
    border-right: 0px;
    border-radius: 0;
    padding-left: 3px;
    color: #979797;
    border-left: 0px;
}
.formContact .form-control:focus{
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    box-shadow: none;
    border-bottom: 2px solid #f9ed30;
}
/* ================================== Swiper ======================= */
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    background-color: black;
}
/* ================================== About Us ===================== */
.heightDev {
    height: 180px;
    width: 100%;
    position: relative;
}
.heightDev img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
/* ================================== Media Quereies ================ */
/* @media screen and (min-width:1400px){
    .textLg{
        font-size: 64px;
    }
} */
@media screen and (min-width:1300px){
    .imgSpaces{
        height: 555px;
    }
    /* .imgIntro{
        object-fit: cover;
        height: 650px;
        width: 100%;
    } */
}
@media screen and (max-width:991px){
    .bgImage{
        padding: 0rem 1rem;
        position: relative;
    }
    .imgFullWidth{
        height: 200px;
    }
}
@media screen and (max-width:768px){
    .textMediaLarge{
        font-size: 27px;
    }
}
@media screen and (max-width:550px){
    footer h1 ,.textLg{
        font-size: 36px;
    }
    .btnSend{
        width: 100%;
    }
    .width75{
        width: 100%;
    }
}